<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list padding-top>

    <ion-item>
      <ion-input type="text" placeholder="Youtube Link" [(ngModel)]="link"></ion-input>
    </ion-item>

  </ion-list>
<div text-center padding-top (click)="downloadClick()">
  <button ion-button color="light">Light</button>
</div>
</ion-content>
